body
{
  background-color: rgb(173,216,230); 
}

h1
{
  font-family: courier;
  font-weight: bold;
  text-decoration: underline;
  color: rgb(144,68,44);
}

ul
{
  list-style-type: circle;
}

p
{
      
}
