:root
{
    --favcolor: rgb(131, 132, 179);	
}
h1
{
    text-align: center;
    color: var(--favcolor);
    background-color: rgb(204, 204, 255);
    font-size: 38pt;
}
section
{
    color: var(--favcolor);
    float: right;
}
p
{
    text-align: center;
    font-size: 14pt;
}
#mainpic
{
    border-radius: 30%;
}
div.button
{
    text-align: center;
}
