:root 
{
  --main: rgb(180, 161, 202);
  --accent1: rgb(183, 202, 161);
  --accent2: rgb(202, 201, 161);  
}

body
{
    background-color: var(--main);
}

h1
{
    color: var(--accent1);  
    text-align: center;
    font-size: 48pt;
}

section h2
{
    margin: 5px;
    font-size: 28pt;
}

section
{
    background-color: var(--accent1);
    border: 7px solid var(--accent2);
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    clear: both;
}

.date
{
    float: right;
}

ul
{
    font-size: 18pt;
}

nav ul {
   text-align: center;
   list-style-type: none;
   font-size: 25pt;
   padding: 10px 0;
}

nav li {
    display: inline;
}

nav li a {
    background-color: var(--accent1); 
    color: black;
    text-decoration: none;  
    padding: 10px 20px;
}

nav li a:hover {
    color: white;
    background-color: var(--accent2);    
}

nav a
{   
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

img
{
    border-radius: 50%;
    height: 250px;
}
