:root 
{
  --bg-color: rgb(180, 161, 202);
  --accent1: rgb(183, 202, 161);
  --acccent2: rgb(202, 201, 161);  
}

body
{
    background-color: var(--bg-color);
}
h1
{
    text-align: center;
    color: var(--accent2);
    font-size: 48pt;
}
section h2
{
    margin: 5px;
    font-size: 28pt;
}
section
{
    background-color: var(--accent1);
    border: 3px solid black;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 10px;
    clear: both;
}
ul
{
    font-size: 18pt;
}
.date
{
    color: var(--accent2);
    float: right;
}
nav a
{   
    font-size: 20pt;
    font-weight: bold;
    color: white;
}

img
{
    border-radius: 50%;
}
